# DB Configs
POSTGRESQL_DATABASE_URL=
MONGODB_DATABASE_URL=

# Elasticsearch Configuration
ELASTICSEARCH_URL=
ELASTICSEARCH_INDEX=

# JWT Configuration
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=